# 27.12.2020
# pip install
absl-py
appnope
cycler
pydot-ng
# conda install
conda install ipython
conda install jupyter
conda install tensorflow-gpu
conda install keras-gpu
conda install graphviz
conda install html5lib
conda install jedi
conda install matplotlib
conda install prompt-toolkit
conda install pydot
conda install pytz
# extra
conda install -c conda-forge pypy3.7